apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- manager.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- files:
  - controller_manager_config.yaml
  name: manager-config
images:
- name: controller
  newName: public.ecr.aws/aws-application-networking-k8s/aws-gateway-controller
  newTag: v1.0.6
