{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2021-08-17",
    "endpointPrefix":"mercury",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"VPC Service Network",
    "serviceId":"Mercury",
    "signatureVersion":"v4",
    "signingName":"vpc-service-network",
    "uid":"mercury-2021-08-17"
  },
  "operations":{
    "BatchUpdateRule":{
      "name":"BatchUpdateRule",
      "http":{
        "method":"PATCH",
        "requestUri":"/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules",
        "responseCode":200
      },
      "input":{"shape":"BatchUpdateRuleRequest"},
      "output":{"shape":"BatchUpdateRuleResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "CreateAccessLogSubscription":{
      "name":"CreateAccessLogSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/accesslogsubscriptions",
        "responseCode":201
      },
      "input":{"shape":"CreateAccessLogSubscriptionRequest"},
      "output":{"shape":"CreateAccessLogSubscriptionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "CreateListener":{
      "name":"CreateListener",
      "http":{
        "method":"POST",
        "requestUri":"/services/{serviceIdentifier}/listeners",
        "responseCode":201
      },
      "input":{"shape":"CreateListenerRequest"},
      "output":{"shape":"CreateListenerResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "CreateMesh":{
      "name":"CreateMesh",
      "http":{
        "method":"POST",
        "requestUri":"/meshes",
        "responseCode":201
      },
      "input":{"shape":"CreateMeshRequest"},
      "output":{"shape":"CreateMeshResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "CreateMeshServiceAssociation":{
      "name":"CreateMeshServiceAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/meshserviceassociations",
        "responseCode":200
      },
      "input":{"shape":"CreateMeshServiceAssociationRequest"},
      "output":{"shape":"CreateMeshServiceAssociationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "CreateMeshVpcAssociation":{
      "name":"CreateMeshVpcAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/meshvpcassociations",
        "responseCode":200
      },
      "input":{"shape":"CreateMeshVpcAssociationRequest"},
      "output":{"shape":"CreateMeshVpcAssociationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "CreateRule":{
      "name":"CreateRule",
      "http":{
        "method":"POST",
        "requestUri":"/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules",
        "responseCode":201
      },
      "input":{"shape":"CreateRuleRequest"},
      "output":{"shape":"CreateRuleResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "CreateService":{
      "name":"CreateService",
      "http":{
        "method":"POST",
        "requestUri":"/services",
        "responseCode":201
      },
      "input":{"shape":"CreateServiceRequest"},
      "output":{"shape":"CreateServiceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "CreateTargetGroup":{
      "name":"CreateTargetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/targetgroups",
        "responseCode":201
      },
      "input":{"shape":"CreateTargetGroupRequest"},
      "output":{"shape":"CreateTargetGroupResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteAccessLogSubscription":{
      "name":"DeleteAccessLogSubscription",
      "http":{
        "method":"DELETE",
        "requestUri":"/accesslogsubscriptions/{accessLogSubscriptionIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteAccessLogSubscriptionRequest"},
      "output":{"shape":"DeleteAccessLogSubscriptionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteAuthPolicy":{
      "name":"DeleteAuthPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/authpolicy/{resourceIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAuthPolicyRequest"},
      "output":{"shape":"DeleteAuthPolicyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteListener":{
      "name":"DeleteListener",
      "http":{
        "method":"DELETE",
        "requestUri":"/services/{serviceIdentifier}/listeners/{listenerIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteListenerRequest"},
      "output":{"shape":"DeleteListenerResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteMesh":{
      "name":"DeleteMesh",
      "http":{
        "method":"DELETE",
        "requestUri":"/meshes/{meshIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteMeshRequest"},
      "output":{"shape":"DeleteMeshResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteMeshServiceAssociation":{
      "name":"DeleteMeshServiceAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/meshserviceassociations/{meshServiceAssociationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteMeshServiceAssociationRequest"},
      "output":{"shape":"DeleteMeshServiceAssociationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteMeshVpcAssociation":{
      "name":"DeleteMeshVpcAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/meshvpcassociations/{meshVpcAssociationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteMeshVpcAssociationRequest"},
      "output":{"shape":"DeleteMeshVpcAssociationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteResourcePolicy":{
      "name":"DeleteResourcePolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/resourcepolicy/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"DeleteResourcePolicyRequest"},
      "output":{"shape":"DeleteResourcePolicyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteRule":{
      "name":"DeleteRule",
      "http":{
        "method":"DELETE",
        "requestUri":"/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules/{ruleIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteRuleRequest"},
      "output":{"shape":"DeleteRuleResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteService":{
      "name":"DeleteService",
      "http":{
        "method":"DELETE",
        "requestUri":"/services/{serviceIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteServiceRequest"},
      "output":{"shape":"DeleteServiceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteTargetGroup":{
      "name":"DeleteTargetGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/targetgroups/{targetGroupIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteTargetGroupRequest"},
      "output":{"shape":"DeleteTargetGroupResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeregisterTargets":{
      "name":"DeregisterTargets",
      "http":{
        "method":"POST",
        "requestUri":"/targetgroups/{targetGroupIdentifier}/deregistertargets",
        "responseCode":200
      },
      "input":{"shape":"DeregisterTargetsRequest"},
      "output":{"shape":"DeregisterTargetsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "GetAccessLogSubscription":{
      "name":"GetAccessLogSubscription",
      "http":{
        "method":"GET",
        "requestUri":"/accesslogsubscriptions/{accessLogSubscriptionIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetAccessLogSubscriptionRequest"},
      "output":{"shape":"GetAccessLogSubscriptionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetAuthPolicy":{
      "name":"GetAuthPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/authpolicy/{resourceIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetAuthPolicyRequest"},
      "output":{"shape":"GetAuthPolicyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetListener":{
      "name":"GetListener",
      "http":{
        "method":"GET",
        "requestUri":"/services/{serviceIdentifier}/listeners/{listenerIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetListenerRequest"},
      "output":{"shape":"GetListenerResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetMesh":{
      "name":"GetMesh",
      "http":{
        "method":"GET",
        "requestUri":"/meshes/{meshIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetMeshRequest"},
      "output":{"shape":"GetMeshResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetMeshServiceAssociation":{
      "name":"GetMeshServiceAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/meshserviceassociations/{meshServiceAssociationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetMeshServiceAssociationRequest"},
      "output":{"shape":"GetMeshServiceAssociationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetMeshVpcAssociation":{
      "name":"GetMeshVpcAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/meshvpcassociations/{meshVpcAssociationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetMeshVpcAssociationRequest"},
      "output":{"shape":"GetMeshVpcAssociationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetResourcePolicy":{
      "name":"GetResourcePolicy",
      "http":{
        "method":"GET",
        "requestUri":"/resourcepolicy/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"GetResourcePolicyRequest"},
      "output":{"shape":"GetResourcePolicyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetRule":{
      "name":"GetRule",
      "http":{
        "method":"GET",
        "requestUri":"/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules/{ruleIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetRuleRequest"},
      "output":{"shape":"GetRuleResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetService":{
      "name":"GetService",
      "http":{
        "method":"GET",
        "requestUri":"/services/{serviceIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetServiceRequest"},
      "output":{"shape":"GetServiceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetTargetGroup":{
      "name":"GetTargetGroup",
      "http":{
        "method":"GET",
        "requestUri":"/targetgroups/{targetGroupIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetTargetGroupRequest"},
      "output":{"shape":"GetTargetGroupResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListAccessLogSubscriptions":{
      "name":"ListAccessLogSubscriptions",
      "http":{
        "method":"GET",
        "requestUri":"/accesslogsubscriptions",
        "responseCode":200
      },
      "input":{"shape":"ListAccessLogSubscriptionsRequest"},
      "output":{"shape":"ListAccessLogSubscriptionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListListeners":{
      "name":"ListListeners",
      "http":{
        "method":"GET",
        "requestUri":"/services/{serviceIdentifier}/listeners",
        "responseCode":200
      },
      "input":{"shape":"ListListenersRequest"},
      "output":{"shape":"ListListenersResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListMeshServiceAssociations":{
      "name":"ListMeshServiceAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/meshserviceassociations",
        "responseCode":200
      },
      "input":{"shape":"ListMeshServiceAssociationsRequest"},
      "output":{"shape":"ListMeshServiceAssociationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListMeshVpcAssociations":{
      "name":"ListMeshVpcAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/meshvpcassociations",
        "responseCode":200
      },
      "input":{"shape":"ListMeshVpcAssociationsRequest"},
      "output":{"shape":"ListMeshVpcAssociationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListMeshes":{
      "name":"ListMeshes",
      "http":{
        "method":"GET",
        "requestUri":"/meshes",
        "responseCode":200
      },
      "input":{"shape":"ListMeshesRequest"},
      "output":{"shape":"ListMeshesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListRules":{
      "name":"ListRules",
      "http":{
        "method":"GET",
        "requestUri":"/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules",
        "responseCode":200
      },
      "input":{"shape":"ListRulesRequest"},
      "output":{"shape":"ListRulesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListServices":{
      "name":"ListServices",
      "http":{
        "method":"GET",
        "requestUri":"/services",
        "responseCode":200
      },
      "input":{"shape":"ListServicesRequest"},
      "output":{"shape":"ListServicesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListTargetGroups":{
      "name":"ListTargetGroups",
      "http":{
        "method":"GET",
        "requestUri":"/targetgroups",
        "responseCode":200
      },
      "input":{"shape":"ListTargetGroupsRequest"},
      "output":{"shape":"ListTargetGroupsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListTargets":{
      "name":"ListTargets",
      "http":{
        "method":"POST",
        "requestUri":"/targetgroups/{targetGroupIdentifier}/listtargets",
        "responseCode":200
      },
      "input":{"shape":"ListTargetsRequest"},
      "output":{"shape":"ListTargetsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "PutAuthPolicy":{
      "name":"PutAuthPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/authpolicy/{resourceIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"PutAuthPolicyRequest"},
      "output":{"shape":"PutAuthPolicyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "PutResourcePolicy":{
      "name":"PutResourcePolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/resourcepolicy/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"PutResourcePolicyRequest"},
      "output":{"shape":"PutResourcePolicyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "RegisterTargets":{
      "name":"RegisterTargets",
      "http":{
        "method":"POST",
        "requestUri":"/targetgroups/{targetGroupIdentifier}/registertargets",
        "responseCode":200
      },
      "input":{"shape":"RegisterTargetsRequest"},
      "output":{"shape":"RegisterTargetsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "UpdateAccessLogSubscription":{
      "name":"UpdateAccessLogSubscription",
      "http":{
        "method":"PATCH",
        "requestUri":"/accesslogsubscriptions/{accessLogSubscriptionIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAccessLogSubscriptionRequest"},
      "output":{"shape":"UpdateAccessLogSubscriptionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "UpdateListener":{
      "name":"UpdateListener",
      "http":{
        "method":"PATCH",
        "requestUri":"/services/{serviceIdentifier}/listeners/{listenerIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateListenerRequest"},
      "output":{"shape":"UpdateListenerResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "UpdateMesh":{
      "name":"UpdateMesh",
      "http":{
        "method":"PATCH",
        "requestUri":"/meshes/{meshIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateMeshRequest"},
      "output":{"shape":"UpdateMeshResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "UpdateMeshVpcAssociation":{
      "name":"UpdateMeshVpcAssociation",
      "http":{
        "method":"PATCH",
        "requestUri":"/meshvpcassociations/{meshVpcAssociationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateMeshVpcAssociationRequest"},
      "output":{"shape":"UpdateMeshVpcAssociationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "UpdateRule":{
      "name":"UpdateRule",
      "http":{
        "method":"PATCH",
        "requestUri":"/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules/{ruleIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateRuleRequest"},
      "output":{"shape":"UpdateRuleResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "UpdateService":{
      "name":"UpdateService",
      "http":{
        "method":"PATCH",
        "requestUri":"/services/{serviceIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateServiceRequest"},
      "output":{"shape":"UpdateServiceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UpdateTargetGroup":{
      "name":"UpdateTargetGroup",
      "http":{
        "method":"PATCH",
        "requestUri":"/targetgroups/{targetGroupIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateTargetGroupRequest"},
      "output":{"shape":"UpdateTargetGroupResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccessLogDestinationArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:([^/].*)?$"
    },
    "AccessLogSubscriptionArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:accesslogsubscription/als-[0-9a-z]{17}$"
    },
    "AccessLogSubscriptionId":{
      "type":"string",
      "max":17,
      "min":17,
      "pattern":"^als-[0-9a-z]{17}$"
    },
    "AccessLogSubscriptionIdentifier":{
      "type":"string",
      "max":2048,
      "min":17,
      "pattern":"^((als-[0-9a-z]{17})|(arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:accesslogsubscription/als-[0-9a-z]{17}))$"
    },
    "AccessLogSubscriptionList":{
      "type":"list",
      "member":{"shape":"AccessLogSubscriptionSummary"}
    },
    "AccessLogSubscriptionSummary":{
      "type":"structure",
      "required":[
        "arn",
        "destinationArn",
        "id",
        "resourceArn",
        "resourceId"
      ],
      "members":{
        "arn":{"shape":"AccessLogSubscriptionArn"},
        "destinationArn":{"shape":"AccessLogDestinationArn"},
        "id":{"shape":"AccessLogSubscriptionId"},
        "resourceArn":{"shape":"ResourceArn"},
        "resourceId":{"shape":"ResourceId"}
      }
    },
    "Arn":{
      "type":"string",
      "max":1224,
      "min":0,
      "pattern":"^arn:[a-z0-9][-.a-z0-9]{0,62}:[a-z0-9][-.a-z0-9]{0,62}:([a-z0-9][-.a-z0-9]{0,62})?:([a-z0-9][-.a-z0-9]{0,62})?:[^/].{0,1023}$"
    },
    "AuthPolicyState":{
      "type":"string",
      "enum":[
        "Active",
        "Inactive"
      ]
    },
    "AuthPolicyString":{
      "type":"string",
      "max":10000,
      "min":0,
      "pattern":"^.*\\S.*$"
    },
    "AuthType":{
      "type":"string",
      "enum":[
        "NONE",
        "AWS_IAM"
      ]
    },
    "BatchUpdateRuleRequest":{
      "type":"structure",
      "required":[
        "listenerIdentifier",
        "rules",
        "serviceIdentifier"
      ],
      "members":{
        "listenerIdentifier":{
          "shape":"ListenerIdentifier",
          "location":"uri",
          "locationName":"listenerIdentifier"
        },
        "rules":{"shape":"RuleUpdateList"},
        "serviceIdentifier":{
          "shape":"ServiceIdentifier",
          "location":"uri",
          "locationName":"serviceIdentifier"
        }
      }
    },
    "BatchUpdateRuleResponse":{
      "type":"structure",
      "members":{
        "successful":{"shape":"RuleUpdateSuccessList"},
        "unsuccessful":{"shape":"RuleUpdateFailureList"}
      }
    },
    "Boolean":{"type":"boolean"},
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[!-~]+"
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateAccessLogSubscriptionRequest":{
      "type":"structure",
      "required":[
        "destinationArn",
        "resourceIdentifier"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "destinationArn":{"shape":"AccessLogDestinationArn"},
        "resourceIdentifier":{"shape":"ResourceIdentifier"},
        "tags":{"shape":"TagMap"}
      }
    },
    "CreateAccessLogSubscriptionResponse":{
      "type":"structure",
      "required":[
        "arn",
        "destinationArn",
        "id",
        "resourceArn",
        "resourceId"
      ],
      "members":{
        "arn":{"shape":"AccessLogSubscriptionArn"},
        "destinationArn":{"shape":"AccessLogDestinationArn"},
        "id":{"shape":"AccessLogSubscriptionId"},
        "resourceArn":{"shape":"ResourceArn"},
        "resourceId":{"shape":"ResourceId"}
      }
    },
    "CreateListenerRequest":{
      "type":"structure",
      "required":[
        "defaultAction",
        "name",
        "protocol",
        "serviceIdentifier"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "defaultAction":{"shape":"RuleAction"},
        "name":{"shape":"ListenerName"},
        "port":{
          "shape":"Port",
          "box":true
        },
        "protocol":{"shape":"ListenerProtocol"},
        "serviceIdentifier":{
          "shape":"ServiceIdentifier",
          "location":"uri",
          "locationName":"serviceIdentifier"
        },
        "tags":{"shape":"TagMap"}
      }
    },
    "CreateListenerResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"ListenerArn"},
        "defaultAction":{"shape":"RuleAction"},
        "id":{"shape":"ListenerId"},
        "name":{"shape":"ListenerName"},
        "port":{
          "shape":"Port",
          "box":true
        },
        "protocol":{"shape":"ListenerProtocol"},
        "serviceArn":{"shape":"ServiceArn"},
        "serviceId":{"shape":"ServiceId"}
      }
    },
    "CreateMeshRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "authType":{"shape":"AuthType"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "name":{"shape":"MeshName"},
        "tags":{"shape":"TagMap"}
      }
    },
    "CreateMeshResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"MeshArn"},
        "authType":{"shape":"AuthType"},
        "id":{"shape":"MeshId"},
        "name":{"shape":"MeshName"}
      }
    },
    "CreateMeshServiceAssociationRequest":{
      "type":"structure",
      "required":[
        "meshIdentifier",
        "serviceIdentifier"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "meshIdentifier":{"shape":"MeshIdentifier"},
        "serviceIdentifier":{"shape":"ServiceIdentifier"},
        "tags":{"shape":"TagMap"}
      }
    },
    "CreateMeshServiceAssociationResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"MeshServiceAssociationArn"},
        "dnsEntry":{"shape":"DnsEntry"},
        "id":{"shape":"MeshServiceAssociationIdentifier"},
        "status":{"shape":"MeshServiceAssociationStatus"}
      }
    },
    "CreateMeshVpcAssociationRequest":{
      "type":"structure",
      "required":[
        "meshIdentifier",
        "vpcIdentifier"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "meshIdentifier":{"shape":"MeshIdentifier"},
        "securityGroupIds":{"shape":"SecurityGroupList"},
        "tags":{"shape":"TagMap"},
        "vpcIdentifier":{"shape":"VpcId"}
      }
    },
    "CreateMeshVpcAssociationResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"MeshVpcAssociationArn"},
        "id":{"shape":"MeshVpcAssociationId"},
        "securityGroupIds":{"shape":"SecurityGroupList"},
        "status":{"shape":"MeshVpcAssociationStatus"}
      }
    },
    "CreateRuleRequest":{
      "type":"structure",
      "required":[
        "action",
        "listenerIdentifier",
        "match",
        "name",
        "priority",
        "serviceIdentifier"
      ],
      "members":{
        "action":{"shape":"RuleAction"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "listenerIdentifier":{
          "shape":"ListenerIdentifier",
          "location":"uri",
          "locationName":"listenerIdentifier"
        },
        "match":{"shape":"RuleMatch"},
        "name":{"shape":"RuleName"},
        "priority":{
          "shape":"RulePriority",
          "box":true
        },
        "serviceIdentifier":{
          "shape":"ServiceIdentifier",
          "location":"uri",
          "locationName":"serviceIdentifier"
        },
        "tags":{"shape":"TagMap"}
      }
    },
    "CreateRuleResponse":{
      "type":"structure",
      "members":{
        "action":{"shape":"RuleAction"},
        "arn":{"shape":"RuleArn"},
        "id":{"shape":"RuleId"},
        "match":{"shape":"RuleMatch"},
        "name":{"shape":"RuleName"},
        "priority":{
          "shape":"RulePriority",
          "box":true
        }
      }
    },
    "CreateServiceRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "authType":{"shape":"AuthType"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "name":{"shape":"ServiceName"},
        "tags":{"shape":"TagMap"}
      }
    },
    "CreateServiceResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"ServiceArn"},
        "authType":{"shape":"AuthType"},
        "dnsEntry":{"shape":"DnsEntry"},
        "id":{"shape":"ServiceId"},
        "name":{"shape":"ServiceName"},
        "status":{"shape":"ServiceStatus"}
      }
    },
    "CreateTargetGroupRequest":{
      "type":"structure",
      "required":[
        "name",
        "type"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "config":{"shape":"TargetGroupConfig"},
        "name":{"shape":"TargetGroupName"},
        "tags":{"shape":"TagMap"},
        "type":{"shape":"TargetGroupType"}
      }
    },
    "CreateTargetGroupResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"TargetGroupArn"},
        "config":{"shape":"TargetGroupConfig"},
        "id":{"shape":"TargetGroupId"},
        "name":{"shape":"TargetGroupName"},
        "status":{"shape":"TargetGroupStatus"},
        "type":{"shape":"TargetGroupType"}
      }
    },
    "DeleteAccessLogSubscriptionRequest":{
      "type":"structure",
      "required":["accessLogSubscriptionIdentifier"],
      "members":{
        "accessLogSubscriptionIdentifier":{
          "shape":"AccessLogSubscriptionIdentifier",
          "location":"uri",
          "locationName":"accessLogSubscriptionIdentifier"
        }
      }
    },
    "DeleteAccessLogSubscriptionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteAuthPolicyRequest":{
      "type":"structure",
      "required":["resourceIdentifier"],
      "members":{
        "resourceIdentifier":{
          "shape":"ResourceIdentifier",
          "location":"uri",
          "locationName":"resourceIdentifier"
        }
      }
    },
    "DeleteAuthPolicyResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteListenerRequest":{
      "type":"structure",
      "required":[
        "listenerIdentifier",
        "serviceIdentifier"
      ],
      "members":{
        "listenerIdentifier":{
          "shape":"ListenerIdentifier",
          "location":"uri",
          "locationName":"listenerIdentifier"
        },
        "serviceIdentifier":{
          "shape":"ServiceIdentifier",
          "location":"uri",
          "locationName":"serviceIdentifier"
        }
      }
    },
    "DeleteListenerResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteMeshRequest":{
      "type":"structure",
      "required":["meshIdentifier"],
      "members":{
        "meshIdentifier":{
          "shape":"MeshIdentifier",
          "location":"uri",
          "locationName":"meshIdentifier"
        }
      }
    },
    "DeleteMeshResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteMeshServiceAssociationRequest":{
      "type":"structure",
      "required":["meshServiceAssociationIdentifier"],
      "members":{
        "meshServiceAssociationIdentifier":{
          "shape":"MeshServiceAssociationIdentifier",
          "location":"uri",
          "locationName":"meshServiceAssociationIdentifier"
        }
      }
    },
    "DeleteMeshServiceAssociationResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"MeshServiceAssociationArn"},
        "id":{"shape":"MeshServiceAssociationIdentifier"},
        "status":{"shape":"MeshServiceAssociationStatus"}
      }
    },
    "DeleteMeshVpcAssociationRequest":{
      "type":"structure",
      "required":["meshVpcAssociationIdentifier"],
      "members":{
        "meshVpcAssociationIdentifier":{
          "shape":"MeshVpcAssociationIdentifier",
          "location":"uri",
          "locationName":"meshVpcAssociationIdentifier"
        }
      }
    },
    "DeleteMeshVpcAssociationResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"MeshVpcAssociationArn"},
        "id":{"shape":"MeshVpcAssociationId"},
        "status":{"shape":"MeshVpcAssociationStatus"}
      }
    },
    "DeleteResourcePolicyRequest":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{
          "shape":"ResourceArn",
          "location":"uri",
          "locationName":"resourceArn"
        }
      }
    },
    "DeleteResourcePolicyResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteRuleRequest":{
      "type":"structure",
      "required":[
        "listenerIdentifier",
        "ruleIdentifier",
        "serviceIdentifier"
      ],
      "members":{
        "listenerIdentifier":{
          "shape":"ListenerIdentifier",
          "location":"uri",
          "locationName":"listenerIdentifier"
        },
        "ruleIdentifier":{
          "shape":"RuleIdentifier",
          "location":"uri",
          "locationName":"ruleIdentifier"
        },
        "serviceIdentifier":{
          "shape":"ServiceIdentifier",
          "location":"uri",
          "locationName":"serviceIdentifier"
        }
      }
    },
    "DeleteRuleResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteServiceRequest":{
      "type":"structure",
      "required":["serviceIdentifier"],
      "members":{
        "serviceIdentifier":{
          "shape":"ServiceIdentifier",
          "location":"uri",
          "locationName":"serviceIdentifier"
        }
      }
    },
    "DeleteServiceResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"ServiceArn"},
        "id":{"shape":"ServiceId"},
        "name":{"shape":"ServiceName"},
        "status":{"shape":"ServiceStatus"}
      }
    },
    "DeleteTargetGroupRequest":{
      "type":"structure",
      "required":["targetGroupIdentifier"],
      "members":{
        "targetGroupIdentifier":{
          "shape":"TargetGroupIdentifier",
          "location":"uri",
          "locationName":"targetGroupIdentifier"
        }
      }
    },
    "DeleteTargetGroupResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"TargetGroupArn"},
        "id":{"shape":"TargetGroupId"},
        "status":{"shape":"TargetGroupStatus"}
      }
    },
    "DeregisterTargetsRequest":{
      "type":"structure",
      "required":[
        "targetGroupIdentifier",
        "targets"
      ],
      "members":{
        "targetGroupIdentifier":{
          "shape":"TargetGroupIdentifier",
          "location":"uri",
          "locationName":"targetGroupIdentifier"
        },
        "targets":{"shape":"DeregisterTargetsRequestTargetsList"}
      }
    },
    "DeregisterTargetsRequestTargetsList":{
      "type":"list",
      "member":{"shape":"Target"},
      "max":100,
      "min":1
    },
    "DeregisterTargetsResponse":{
      "type":"structure",
      "members":{
        "successful":{"shape":"TargetList"},
        "unsuccessful":{"shape":"TargetFailureList"}
      }
    },
    "DnsEntry":{
      "type":"structure",
      "members":{
        "domainName":{"shape":"String"},
        "hostedZoneId":{"shape":"String"}
      }
    },
    "FailureCode":{"type":"string"},
    "FailureMessage":{"type":"string"},
    "ForwardAction":{
      "type":"structure",
      "required":["targetGroups"],
      "members":{
        "targetGroups":{"shape":"WeightedTargetGroupList"}
      }
    },
    "GetAccessLogSubscriptionRequest":{
      "type":"structure",
      "required":["accessLogSubscriptionIdentifier"],
      "members":{
        "accessLogSubscriptionIdentifier":{
          "shape":"AccessLogSubscriptionIdentifier",
          "location":"uri",
          "locationName":"accessLogSubscriptionIdentifier"
        }
      }
    },
    "GetAccessLogSubscriptionResponse":{
      "type":"structure",
      "required":[
        "arn",
        "destinationArn",
        "id",
        "resourceArn",
        "resourceId"
      ],
      "members":{
        "arn":{"shape":"AccessLogSubscriptionArn"},
        "destinationArn":{"shape":"AccessLogDestinationArn"},
        "id":{"shape":"AccessLogSubscriptionId"},
        "resourceArn":{"shape":"ResourceArn"},
        "resourceId":{"shape":"ResourceId"}
      }
    },
    "GetAuthPolicyRequest":{
      "type":"structure",
      "required":["resourceIdentifier"],
      "members":{
        "resourceIdentifier":{
          "shape":"ResourceIdentifier",
          "location":"uri",
          "locationName":"resourceIdentifier"
        }
      }
    },
    "GetAuthPolicyResponse":{
      "type":"structure",
      "members":{
        "policy":{"shape":"AuthPolicyString"},
        "state":{"shape":"AuthPolicyState"}
      }
    },
    "GetListenerRequest":{
      "type":"structure",
      "required":[
        "listenerIdentifier",
        "serviceIdentifier"
      ],
      "members":{
        "listenerIdentifier":{
          "shape":"ListenerIdentifier",
          "location":"uri",
          "locationName":"listenerIdentifier"
        },
        "serviceIdentifier":{
          "shape":"ServiceIdentifier",
          "location":"uri",
          "locationName":"serviceIdentifier"
        }
      }
    },
    "GetListenerResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"ListenerArn"},
        "defaultAction":{"shape":"RuleAction"},
        "id":{"shape":"ListenerId"},
        "name":{"shape":"ListenerName"},
        "port":{
          "shape":"Port",
          "box":true
        },
        "protocol":{"shape":"ListenerProtocol"},
        "serviceArn":{"shape":"ServiceArn"},
        "serviceId":{"shape":"ServiceId"}
      }
    },
    "GetMeshRequest":{
      "type":"structure",
      "required":["meshIdentifier"],
      "members":{
        "meshIdentifier":{
          "shape":"MeshIdentifier",
          "location":"uri",
          "locationName":"meshIdentifier"
        }
      }
    },
    "GetMeshResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"MeshArn"},
        "authType":{"shape":"AuthType"},
        "createdAt":{"shape":"Timestamp"},
        "id":{"shape":"MeshId"},
        "lastUpdatedAt":{"shape":"Timestamp"},
        "name":{"shape":"MeshName"},
        "numberOfAssociatedServices":{
          "shape":"Long",
          "box":true
        },
        "numberOfAssociatedVPCs":{
          "shape":"Long",
          "box":true
        }
      }
    },
    "GetMeshServiceAssociationRequest":{
      "type":"structure",
      "required":["meshServiceAssociationIdentifier"],
      "members":{
        "meshServiceAssociationIdentifier":{
          "shape":"MeshServiceAssociationIdentifier",
          "location":"uri",
          "locationName":"meshServiceAssociationIdentifier"
        }
      }
    },
    "GetMeshServiceAssociationResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"MeshServiceAssociationArn"},
        "createdAt":{"shape":"Timestamp"},
        "dnsEntry":{"shape":"DnsEntry"},
        "failureCode":{"shape":"String"},
        "failureMessage":{"shape":"String"},
        "id":{"shape":"MeshServiceAssociationIdentifier"},
        "meshArn":{"shape":"MeshArn"},
        "meshId":{"shape":"MeshId"},
        "meshName":{"shape":"MeshName"},
        "serviceArn":{"shape":"ServiceArn"},
        "serviceId":{"shape":"ServiceId"},
        "serviceName":{"shape":"ServiceName"},
        "status":{"shape":"MeshServiceAssociationStatus"}
      }
    },
    "GetMeshVpcAssociationRequest":{
      "type":"structure",
      "required":["meshVpcAssociationIdentifier"],
      "members":{
        "meshVpcAssociationIdentifier":{
          "shape":"MeshVpcAssociationIdentifier",
          "location":"uri",
          "locationName":"meshVpcAssociationIdentifier"
        }
      }
    },
    "GetMeshVpcAssociationResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"MeshVpcAssociationArn"},
        "createdAt":{"shape":"Timestamp"},
        "failureCode":{"shape":"String"},
        "failureMessage":{"shape":"String"},
        "id":{"shape":"MeshVpcAssociationId"},
        "meshArn":{"shape":"MeshArn"},
        "meshId":{"shape":"MeshId"},
        "meshName":{"shape":"MeshName"},
        "securityGroupIds":{"shape":"SecurityGroupList"},
        "status":{"shape":"MeshVpcAssociationStatus"},
        "vpcId":{"shape":"VpcId"}
      }
    },
    "GetResourcePolicyRequest":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{
          "shape":"ResourceArn",
          "location":"uri",
          "locationName":"resourceArn"
        }
      }
    },
    "GetResourcePolicyResponse":{
      "type":"structure",
      "members":{
        "policy":{"shape":"PolicyString"}
      }
    },
    "GetRuleRequest":{
      "type":"structure",
      "required":[
        "listenerIdentifier",
        "ruleIdentifier",
        "serviceIdentifier"
      ],
      "members":{
        "listenerIdentifier":{
          "shape":"ListenerIdentifier",
          "location":"uri",
          "locationName":"listenerIdentifier"
        },
        "ruleIdentifier":{
          "shape":"RuleIdentifier",
          "location":"uri",
          "locationName":"ruleIdentifier"
        },
        "serviceIdentifier":{
          "shape":"ServiceIdentifier",
          "location":"uri",
          "locationName":"serviceIdentifier"
        }
      }
    },
    "GetRuleResponse":{
      "type":"structure",
      "members":{
        "action":{"shape":"RuleAction"},
        "arn":{"shape":"RuleArn"},
        "id":{"shape":"RuleId"},
        "isDefault":{
          "shape":"Boolean",
          "default":false
        },
        "match":{"shape":"RuleMatch"},
        "name":{"shape":"RuleName"},
        "priority":{
          "shape":"RulePriority",
          "box":true
        }
      }
    },
    "GetServiceRequest":{
      "type":"structure",
      "required":["serviceIdentifier"],
      "members":{
        "serviceIdentifier":{
          "shape":"ServiceIdentifier",
          "location":"uri",
          "locationName":"serviceIdentifier"
        }
      }
    },
    "GetServiceResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"ServiceArn"},
        "authType":{"shape":"AuthType"},
        "createdAt":{"shape":"Timestamp"},
        "dnsEntry":{"shape":"DnsEntry"},
        "id":{"shape":"ServiceId"},
        "lastUpdatedAt":{"shape":"Timestamp"},
        "name":{"shape":"ServiceName"},
        "status":{"shape":"ServiceStatus"}
      }
    },
    "GetTargetGroupRequest":{
      "type":"structure",
      "required":["targetGroupIdentifier"],
      "members":{
        "targetGroupIdentifier":{
          "shape":"TargetGroupIdentifier",
          "location":"uri",
          "locationName":"targetGroupIdentifier"
        }
      }
    },
    "GetTargetGroupResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"TargetGroupArn"},
        "config":{"shape":"TargetGroupConfig"},
        "createdAt":{"shape":"Timestamp"},
        "failureCode":{"shape":"String"},
        "failureMessage":{"shape":"String"},
        "id":{"shape":"TargetGroupId"},
        "lastUpdatedAt":{"shape":"Timestamp"},
        "name":{"shape":"TargetGroupName"},
        "serviceArns":{"shape":"ServiceArnList"},
        "status":{"shape":"TargetGroupStatus"},
        "type":{"shape":"TargetGroupType"}
      }
    },
    "HeaderMatch":{
      "type":"structure",
      "required":[
        "match",
        "name"
      ],
      "members":{
        "caseSensitive":{
          "shape":"Boolean",
          "default":false
        },
        "match":{"shape":"HeaderMatchType"},
        "name":{"shape":"HeaderMatchName"}
      }
    },
    "HeaderMatchContains":{
      "type":"string",
      "max":128,
      "min":1
    },
    "HeaderMatchExact":{
      "type":"string",
      "max":128,
      "min":1
    },
    "HeaderMatchList":{
      "type":"list",
      "member":{"shape":"HeaderMatch"}
    },
    "HeaderMatchName":{
      "type":"string",
      "max":40,
      "min":1
    },
    "HeaderMatchPrefix":{
      "type":"string",
      "max":128,
      "min":1
    },
    "HeaderMatchType":{
      "type":"structure",
      "members":{
        "contains":{"shape":"HeaderMatchContains"},
        "exact":{"shape":"HeaderMatchExact"},
        "prefix":{"shape":"HeaderMatchPrefix"}
      },
      "union":true
    },
    "HealthCheckConfig":{
      "type":"structure",
      "members":{
        "enabled":{
          "shape":"Boolean",
          "default":false
        },
        "healthCheckIntervalSeconds":{
          "shape":"HealthCheckIntervalSeconds",
          "box":true
        },
        "healthCheckTimeoutSeconds":{
          "shape":"HealthCheckTimeoutSeconds",
          "box":true
        },
        "healthyThresholdCount":{
          "shape":"HealthyThresholdCount",
          "box":true
        },
        "matcher":{"shape":"Matcher"},
        "path":{"shape":"HealthCheckPath"},
        "port":{
          "shape":"Port",
          "box":true
        },
        "protocol":{"shape":"TargetGroupProtocol"},
        "unhealthyThresholdCount":{
          "shape":"UnhealthyThresholdCount",
          "box":true
        }
      }
    },
    "HealthCheckIntervalSeconds":{
      "type":"integer",
      "max":300,
      "min":5
    },
    "HealthCheckPath":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "HealthCheckTimeoutSeconds":{
      "type":"integer",
      "max":120,
      "min":1
    },
    "HealthyThresholdCount":{
      "type":"integer",
      "max":10,
      "min":2
    },
    "HttpCodeMatcher":{
      "type":"string",
      "max":2000,
      "min":3,
      "pattern":"^[0-9-,]+$"
    },
    "HttpMatch":{
      "type":"structure",
      "members":{
        "headerMatches":{"shape":"HeaderMatchList"},
        "method":{"shape":"HttpMethod"},
        "pathMatch":{"shape":"PathMatch"}
      }
    },
    "HttpMethod":{
      "type":"string",
      "enum":[
        "CONNECT",
        "DELETE",
        "GET",
        "HEAD",
        "OPTIONS",
        "POST",
        "PUT",
        "TRACE"
      ]
    },
    "Integer":{"type":"integer"},
    "InternalServerException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "retryAfterSeconds":{
          "shape":"Integer",
          "box":true,
          "location":"header",
          "locationName":"Retry-After"
        }
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "ListAccessLogSubscriptionsRequest":{
      "type":"structure",
      "required":["resourceIdentifier"],
      "members":{
        "maxResults":{
          "shape":"MaxResults",
          "box":true,
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "resourceIdentifier":{
          "shape":"ResourceIdentifier",
          "location":"querystring",
          "locationName":"resourceIdentifier"
        }
      }
    },
    "ListAccessLogSubscriptionsResponse":{
      "type":"structure",
      "required":["items"],
      "members":{
        "items":{"shape":"AccessLogSubscriptionList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListListenersRequest":{
      "type":"structure",
      "required":["serviceIdentifier"],
      "members":{
        "maxResults":{
          "shape":"MaxResults",
          "box":true,
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "serviceIdentifier":{
          "shape":"ServiceIdentifier",
          "location":"uri",
          "locationName":"serviceIdentifier"
        }
      }
    },
    "ListListenersResponse":{
      "type":"structure",
      "required":["items"],
      "members":{
        "items":{"shape":"ListenerSummaryList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListMeshServiceAssociationsRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"MaxResults",
          "box":true,
          "location":"querystring",
          "locationName":"maxResults"
        },
        "meshIdentifier":{
          "shape":"MeshIdentifier",
          "location":"querystring",
          "locationName":"meshIdentifier"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "serviceIdentifier":{
          "shape":"ServiceIdentifier",
          "location":"querystring",
          "locationName":"serviceIdentifier"
        }
      }
    },
    "ListMeshServiceAssociationsResponse":{
      "type":"structure",
      "required":["items"],
      "members":{
        "items":{"shape":"MeshServiceAssociationList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListMeshVpcAssociationsRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"MaxResults",
          "box":true,
          "location":"querystring",
          "locationName":"maxResults"
        },
        "meshIdentifier":{
          "shape":"MeshIdentifier",
          "location":"querystring",
          "locationName":"meshIdentifier"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "vpcIdentifier":{
          "shape":"VpcId",
          "location":"querystring",
          "locationName":"vpcIdentifier"
        }
      }
    },
    "ListMeshVpcAssociationsResponse":{
      "type":"structure",
      "required":["items"],
      "members":{
        "items":{"shape":"MeshVpcAssociationList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListMeshesRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"MaxResults",
          "box":true,
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListMeshesResponse":{
      "type":"structure",
      "required":["items"],
      "members":{
        "items":{"shape":"MeshList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListRulesRequest":{
      "type":"structure",
      "required":[
        "listenerIdentifier",
        "serviceIdentifier"
      ],
      "members":{
        "listenerIdentifier":{
          "shape":"ListenerIdentifier",
          "location":"uri",
          "locationName":"listenerIdentifier"
        },
        "maxResults":{
          "shape":"MaxResults",
          "box":true,
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "serviceIdentifier":{
          "shape":"ServiceIdentifier",
          "location":"uri",
          "locationName":"serviceIdentifier"
        }
      }
    },
    "ListRulesResponse":{
      "type":"structure",
      "required":["items"],
      "members":{
        "items":{"shape":"RuleSummaryList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListServicesRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"MaxResults",
          "box":true,
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListServicesResponse":{
      "type":"structure",
      "members":{
        "items":{"shape":"ServiceList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{
          "shape":"Arn",
          "location":"uri",
          "locationName":"resourceArn"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "tags":{"shape":"TagMap"}
      }
    },
    "ListTargetGroupsRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"MaxResults",
          "box":true,
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "targetGroupType":{
          "shape":"TargetGroupType",
          "location":"querystring",
          "locationName":"targetGroupType"
        },
        "vpcIdentifier":{
          "shape":"VpcId",
          "location":"querystring",
          "locationName":"vpcIdentifier"
        }
      }
    },
    "ListTargetGroupsResponse":{
      "type":"structure",
      "members":{
        "items":{"shape":"TargetGroupList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListTargetsRequest":{
      "type":"structure",
      "required":["targetGroupIdentifier"],
      "members":{
        "maxResults":{
          "shape":"MaxResults",
          "box":true,
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "targetGroupIdentifier":{
          "shape":"TargetGroupIdentifier",
          "location":"uri",
          "locationName":"targetGroupIdentifier"
        },
        "targets":{"shape":"ListTargetsRequestTargetsList"}
      }
    },
    "ListTargetsRequestTargetsList":{
      "type":"list",
      "member":{"shape":"Target"},
      "max":20,
      "min":0
    },
    "ListTargetsResponse":{
      "type":"structure",
      "required":["items"],
      "members":{
        "items":{"shape":"TargetSummaryList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListenerArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:service/svc-[0-9a-z]{17}/listener/listener-[0-9a-z]{17}$"
    },
    "ListenerId":{
      "type":"string",
      "max":17,
      "min":17,
      "pattern":"^listener-[0-9a-z]{17}$"
    },
    "ListenerIdentifier":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^((listener-[0-9a-z]{17})|(arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:service/svc-[0-9a-z]{17}/listener/listener-[0-9a-z]{17}))$"
    },
    "ListenerName":{
      "type":"string",
      "max":63,
      "min":3,
      "pattern":"^(?![-])(?!.*[-]$)(?!.*[-]{2})[a-z0-9-]+$"
    },
    "ListenerProtocol":{
      "type":"string",
      "enum":[
        "HTTP",
        "HTTPS"
      ]
    },
    "ListenerSummary":{
      "type":"structure",
      "members":{
        "arn":{"shape":"ListenerArn"},
        "id":{"shape":"ListenerId"},
        "name":{"shape":"ListenerName"},
        "port":{
          "shape":"Port",
          "box":true
        },
        "protocol":{"shape":"ListenerProtocol"}
      }
    },
    "ListenerSummaryList":{
      "type":"list",
      "member":{"shape":"ListenerSummary"}
    },
    "Long":{"type":"long"},
    "Matcher":{
      "type":"structure",
      "members":{
        "httpCode":{"shape":"HttpCodeMatcher"}
      },
      "union":true
    },
    "MaxResults":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "MeshArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:mesh/mesh-[0-9a-z]{17}$"
    },
    "MeshId":{
      "type":"string",
      "max":17,
      "min":17,
      "pattern":"^mesh-[0-9a-z]{17}$"
    },
    "MeshIdentifier":{
      "type":"string",
      "max":2048,
      "min":17,
      "pattern":"^((mesh-[0-9a-z]{17})|(arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:mesh/mesh-[0-9a-z]{17}))$"
    },
    "MeshList":{
      "type":"list",
      "member":{"shape":"MeshSummary"}
    },
    "MeshName":{
      "type":"string",
      "max":63,
      "min":3,
      "pattern":"^(?![-])(?!.*[-]$)(?!.*[-]{2})[a-z0-9-]+$"
    },
    "MeshServiceAssociationArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:meshserviceassociation/msa-[0-9a-z]{17}$"
    },
    "MeshServiceAssociationIdentifier":{
      "type":"string",
      "max":2048,
      "min":17,
      "pattern":"^((msa-[0-9a-z]{17})|(arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:meshserviceassociation/msa-[0-9a-z]{17}))$"
    },
    "MeshServiceAssociationList":{
      "type":"list",
      "member":{"shape":"MeshServiceAssociationSummary"}
    },
    "MeshServiceAssociationStatus":{
      "type":"string",
      "enum":[
        "CREATE_IN_PROGRESS",
        "ACTIVE",
        "DELETE_IN_PROGRESS",
        "CREATE_FAILED",
        "DELETE_FAILED"
      ]
    },
    "MeshServiceAssociationSummary":{
      "type":"structure",
      "members":{
        "arn":{"shape":"MeshServiceAssociationArn"},
        "createdAt":{"shape":"Timestamp"},
        "dnsEntry":{"shape":"DnsEntry"},
        "id":{"shape":"MeshServiceAssociationIdentifier"},
        "meshArn":{"shape":"MeshArn"},
        "meshId":{"shape":"MeshId"},
        "meshName":{"shape":"MeshName"},
        "serviceArn":{"shape":"ServiceArn"},
        "serviceId":{"shape":"ServiceId"},
        "serviceName":{"shape":"ServiceName"},
        "status":{"shape":"MeshServiceAssociationStatus"}
      }
    },
    "MeshSummary":{
      "type":"structure",
      "members":{
        "arn":{"shape":"MeshArn"},
        "createdAt":{"shape":"Timestamp"},
        "id":{"shape":"MeshId"},
        "lastUpdatedAt":{"shape":"Timestamp"},
        "name":{"shape":"MeshName"},
        "numberOfAssociatedServices":{
          "shape":"Long",
          "box":true
        },
        "numberOfAssociatedVPCs":{
          "shape":"Long",
          "box":true
        }
      }
    },
    "MeshVpcAssociationArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:meshvpcassociation/mva-[0-9a-z]{17}$"
    },
    "MeshVpcAssociationId":{
      "type":"string",
      "max":17,
      "min":17,
      "pattern":"^mva-[0-9a-z]{17}$"
    },
    "MeshVpcAssociationIdentifier":{
      "type":"string",
      "max":2048,
      "min":17,
      "pattern":"^((mva-[0-9a-z]{17})|(arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:meshvpcassociation/mva-[0-9a-z]{17}))$"
    },
    "MeshVpcAssociationList":{
      "type":"list",
      "member":{"shape":"MeshVpcAssociationSummary"}
    },
    "MeshVpcAssociationStatus":{
      "type":"string",
      "enum":[
        "CREATE_IN_PROGRESS",
        "ACTIVE",
        "UPDATE_IN_PROGRESS",
        "DELETE_IN_PROGRESS",
        "CREATE_FAILED",
        "DELETE_FAILED",
        "UPDATE_FAILED"
      ]
    },
    "MeshVpcAssociationSummary":{
      "type":"structure",
      "members":{
        "arn":{"shape":"MeshVpcAssociationArn"},
        "createdAt":{"shape":"Timestamp"},
        "id":{"shape":"MeshVpcAssociationId"},
        "meshArn":{"shape":"MeshArn"},
        "meshId":{"shape":"MeshId"},
        "meshName":{"shape":"MeshName"},
        "status":{"shape":"MeshVpcAssociationStatus"},
        "vpcId":{"shape":"VpcId"}
      }
    },
    "NextToken":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "PathMatch":{
      "type":"structure",
      "members":{
        "caseSensitive":{
          "shape":"Boolean",
          "default":false
        },
        "match":{"shape":"PathMatchType"}
      }
    },
    "PathMatchExact":{
      "type":"string",
      "max":128,
      "min":1
    },
    "PathMatchPrefix":{
      "type":"string",
      "max":128,
      "min":1
    },
    "PathMatchType":{
      "type":"structure",
      "members":{
        "exact":{"shape":"PathMatchExact"},
        "prefix":{"shape":"PathMatchPrefix"}
      },
      "union":true
    },
    "PolicyString":{
      "type":"string",
      "max":10000,
      "min":1,
      "pattern":"^.*\\S.*$"
    },
    "Port":{
      "type":"integer",
      "max":65535,
      "min":1
    },
    "PutAuthPolicyRequest":{
      "type":"structure",
      "required":[
        "policy",
        "resourceIdentifier"
      ],
      "members":{
        "policy":{"shape":"AuthPolicyString"},
        "resourceIdentifier":{
          "shape":"ResourceIdentifier",
          "location":"uri",
          "locationName":"resourceIdentifier"
        }
      }
    },
    "PutAuthPolicyResponse":{
      "type":"structure",
      "members":{
        "policy":{"shape":"AuthPolicyString"},
        "state":{"shape":"AuthPolicyState"}
      }
    },
    "PutResourcePolicyRequest":{
      "type":"structure",
      "required":[
        "policy",
        "resourceArn"
      ],
      "members":{
        "policy":{"shape":"PolicyString"},
        "resourceArn":{
          "shape":"ResourceArn",
          "location":"uri",
          "locationName":"resourceArn"
        }
      }
    },
    "PutResourcePolicyResponse":{
      "type":"structure",
      "members":{
      }
    },
    "RegisterTargetsRequest":{
      "type":"structure",
      "required":[
        "targetGroupIdentifier",
        "targets"
      ],
      "members":{
        "targetGroupIdentifier":{
          "shape":"TargetGroupIdentifier",
          "location":"uri",
          "locationName":"targetGroupIdentifier"
        },
        "targets":{"shape":"RegisterTargetsRequestTargetsList"}
      }
    },
    "RegisterTargetsRequestTargetsList":{
      "type":"list",
      "member":{"shape":"Target"},
      "max":100,
      "min":1
    },
    "RegisterTargetsResponse":{
      "type":"structure",
      "members":{
        "successful":{"shape":"TargetList"},
        "unsuccessful":{"shape":"TargetFailureList"}
      }
    },
    "ResourceArn":{
      "type":"string",
      "max":200,
      "min":20,
      "pattern":"^arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:((mesh/mesh)|(service/svc))-[0-9a-z]{17}$"
    },
    "ResourceId":{
      "type":"string",
      "max":50,
      "min":20,
      "pattern":"^((mesh)|(svc))-[0-9a-z]{17}$"
    },
    "ResourceIdentifier":{
      "type":"string",
      "max":200,
      "min":17,
      "pattern":"^((((mesh)|(svc))-[0-9a-z]{17})|(arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:((mesh/mesh)|(service/svc))-[0-9a-z]{17}))$"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "RuleAction":{
      "type":"structure",
      "members":{
        "forward":{"shape":"ForwardAction"}
      },
      "union":true
    },
    "RuleArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:service/svc-[0-9a-z]{17}/listener/listener-[0-9a-z]{17}/rule/((rule-[0-9a-z]{17})|(default))$"
    },
    "RuleId":{
      "type":"string",
      "max":17,
      "min":17,
      "pattern":"^((rule-[0-9a-z]{17})|(default))$"
    },
    "RuleIdentifier":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^((rule-[0-9a-z]{17})|(arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:service/svc-[0-9a-z]{17}/listener/listener-[0-9a-z]{17}/rule/((rule-[0-9a-z]{17})|(default))))$"
    },
    "RuleMatch":{
      "type":"structure",
      "members":{
        "httpMatch":{"shape":"HttpMatch"}
      },
      "union":true
    },
    "RuleName":{
      "type":"string",
      "max":63,
      "min":3,
      "pattern":"^(?![-])(?!.*[-]$)(?!.*[-]{2})[a-z0-9-]+$"
    },
    "RulePriority":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "RuleSummary":{
      "type":"structure",
      "members":{
        "arn":{"shape":"RuleArn"},
        "id":{"shape":"RuleId"},
        "isDefault":{
          "shape":"Boolean",
          "default":false
        },
        "name":{"shape":"RuleName"}
      }
    },
    "RuleSummaryList":{
      "type":"list",
      "member":{"shape":"RuleSummary"}
    },
    "RuleUpdate":{
      "type":"structure",
      "required":["ruleIdentifier"],
      "members":{
        "action":{"shape":"RuleAction"},
        "match":{"shape":"RuleMatch"},
        "priority":{
          "shape":"RulePriority",
          "box":true
        },
        "ruleIdentifier":{"shape":"RuleIdentifier"}
      }
    },
    "RuleUpdateFailure":{
      "type":"structure",
      "members":{
        "failureCode":{"shape":"FailureCode"},
        "failureMessage":{"shape":"FailureMessage"},
        "ruleIdentifier":{"shape":"RuleIdentifier"}
      }
    },
    "RuleUpdateFailureList":{
      "type":"list",
      "member":{"shape":"RuleUpdateFailure"}
    },
    "RuleUpdateList":{
      "type":"list",
      "member":{"shape":"RuleUpdate"},
      "max":4,
      "min":1
    },
    "RuleUpdateSuccess":{
      "type":"structure",
      "members":{
        "action":{"shape":"RuleAction"},
        "arn":{"shape":"RuleArn"},
        "id":{"shape":"RuleId"},
        "isDefault":{
          "shape":"Boolean",
          "default":false
        },
        "match":{"shape":"RuleMatch"},
        "name":{"shape":"RuleName"},
        "priority":{
          "shape":"RulePriority",
          "box":true
        }
      }
    },
    "RuleUpdateSuccessList":{
      "type":"list",
      "member":{"shape":"RuleUpdateSuccess"}
    },
    "SecurityGroupId":{
      "type":"string",
      "max":200,
      "min":5,
      "pattern":"^sg-(([0-9a-z]{8})|([0-9a-z]{17}))$"
    },
    "SecurityGroupList":{
      "type":"list",
      "member":{"shape":"SecurityGroupId"}
    },
    "ServiceArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:service/svc-[0-9a-z]{17}$"
    },
    "ServiceArnList":{
      "type":"list",
      "member":{"shape":"ServiceArn"}
    },
    "ServiceId":{
      "type":"string",
      "max":17,
      "min":17,
      "pattern":"^svc-[0-9a-z]{17}$"
    },
    "ServiceIdentifier":{
      "type":"string",
      "max":2048,
      "min":17,
      "pattern":"^((svc-[0-9a-z]{17})|(arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:service/svc-[0-9a-z]{17}))$"
    },
    "ServiceList":{
      "type":"list",
      "member":{"shape":"ServiceSummary"}
    },
    "ServiceName":{
      "type":"string",
      "max":40,
      "min":3,
      "pattern":"^(?![-])(?!.*[-]$)(?!.*[-]{2})[a-z0-9-]+$"
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":[
        "message",
        "quotaCode",
        "resourceType",
        "serviceCode"
      ],
      "members":{
        "message":{"shape":"String"},
        "quotaCode":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"},
        "serviceCode":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "ServiceStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "CREATE_IN_PROGRESS",
        "DELETE_IN_PROGRESS",
        "CREATE_FAILED",
        "DELETE_FAILED"
      ]
    },
    "ServiceSummary":{
      "type":"structure",
      "members":{
        "arn":{"shape":"ServiceArn"},
        "createdAt":{"shape":"Timestamp"},
        "dnsEntry":{"shape":"DnsEntry"},
        "id":{"shape":"ServiceId"},
        "lastUpdatedAt":{"shape":"Timestamp"},
        "name":{"shape":"ServiceName"},
        "status":{"shape":"ServiceStatus"}
      }
    },
    "String":{"type":"string"},
    "TagKey":{
      "type":"string",
      "max":128,
      "min":0
    },
    "TagKeys":{
      "type":"list",
      "member":{"shape":"TagKey"}
    },
    "TagMap":{
      "type":"map",
      "key":{"shape":"TagKey"},
      "value":{"shape":"TagValue"},
      "max":50,
      "min":0
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tags"
      ],
      "members":{
        "resourceArn":{
          "shape":"Arn",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tags":{"shape":"TagMap"}
      }
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "TagValue":{
      "type":"string",
      "max":128,
      "min":0
    },
    "Target":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{"shape":"String"},
        "port":{
          "shape":"Port",
          "box":true
        }
      }
    },
    "TargetFailure":{
      "type":"structure",
      "required":["id"],
      "members":{
        "failureCode":{"shape":"String"},
        "failureMessage":{"shape":"String"},
        "id":{"shape":"String"},
        "port":{
          "shape":"Port",
          "box":true
        }
      }
    },
    "TargetFailureList":{
      "type":"list",
      "member":{"shape":"TargetFailure"}
    },
    "TargetGroupArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:targetgroup/tg-[0-9a-z]{17}$"
    },
    "TargetGroupConfig":{
      "type":"structure",
      "required":[
        "port",
        "protocol",
        "protocolVersion",
        "vpcIdentifier"
      ],
      "members":{
        "healthCheck":{"shape":"HealthCheckConfig"},
        "port":{
          "shape":"Port",
          "box":true
        },
        "protocol":{"shape":"TargetGroupProtocol"},
        "protocolVersion":{"shape":"TargetGroupProtocolVersion"},
        "vpcIdentifier":{"shape":"VpcId"}
      }
    },
    "TargetGroupId":{
      "type":"string",
      "max":17,
      "min":17,
      "pattern":"^tg-[0-9a-z]{17}$"
    },
    "TargetGroupIdentifier":{
      "type":"string",
      "max":2048,
      "min":17,
      "pattern":"^((tg-[0-9a-z]{17})|(arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:targetgroup/tg-[0-9a-z]{17}))$"
    },
    "TargetGroupList":{
      "type":"list",
      "member":{"shape":"TargetGroupSummary"}
    },
    "TargetGroupName":{
      "type":"string",
      "max":63,
      "min":3,
      "pattern":"^(?![-])(?!.*[-]$)(?!.*[-]{2})[a-z0-9-]+$"
    },
    "TargetGroupProtocol":{
      "type":"string",
      "enum":[
        "HTTP",
        "HTTPS"
      ]
    },
    "TargetGroupProtocolVersion":{
      "type":"string",
      "enum":[
        "HTTP1",
        "HTTP2",
        "GRPC"
      ]
    },
    "TargetGroupStatus":{
      "type":"string",
      "enum":[
        "CREATE_IN_PROGRESS",
        "ACTIVE",
        "DELETE_IN_PROGRESS",
        "CREATE_FAILED",
        "DELETE_FAILED"
      ]
    },
    "TargetGroupSummary":{
      "type":"structure",
      "members":{
        "arn":{"shape":"TargetGroupArn"},
        "createdAt":{"shape":"Timestamp"},
        "id":{"shape":"TargetGroupId"},
        "lastUpdatedAt":{"shape":"Timestamp"},
        "name":{"shape":"TargetGroupName"},
        "serviceArns":{"shape":"ServiceArnList"},
        "status":{"shape":"TargetGroupStatus"},
        "type":{"shape":"TargetGroupType"}
      }
    },
    "TargetGroupType":{
      "type":"string",
      "enum":[
        "IP",
        "LAMBDA",
        "INSTANCE",
        "ALB"
      ]
    },
    "TargetGroupWeight":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "TargetList":{
      "type":"list",
      "member":{"shape":"Target"}
    },
    "TargetStatus":{
      "type":"string",
      "enum":[
        "draining",
        "unavailable",
        "healthy",
        "unhealthy",
        "initial",
        "unused"
      ]
    },
    "TargetSummary":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{"shape":"String"},
        "port":{
          "shape":"Port",
          "box":true
        },
        "reasonCode":{"shape":"String"},
        "status":{"shape":"TargetStatus"}
      }
    },
    "TargetSummaryList":{
      "type":"list",
      "member":{"shape":"TargetSummary"}
    },
    "ThrottlingException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "quotaCode":{"shape":"String"},
        "retryAfterSeconds":{
          "shape":"Integer",
          "box":true,
          "location":"header",
          "locationName":"Retry-After"
        },
        "serviceCode":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":true}
    },
    "Timestamp":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "UnhealthyThresholdCount":{
      "type":"integer",
      "max":10,
      "min":2
    },
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tagKeys"
      ],
      "members":{
        "resourceArn":{
          "shape":"Arn",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tagKeys":{
          "shape":"TagKeys",
          "location":"querystring",
          "locationName":"tagKeys"
        }
      }
    },
    "UntagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateAccessLogSubscriptionRequest":{
      "type":"structure",
      "required":[
        "accessLogSubscriptionIdentifier",
        "destinationArn"
      ],
      "members":{
        "accessLogSubscriptionIdentifier":{
          "shape":"AccessLogSubscriptionIdentifier",
          "location":"uri",
          "locationName":"accessLogSubscriptionIdentifier"
        },
        "destinationArn":{"shape":"AccessLogDestinationArn"}
      }
    },
    "UpdateAccessLogSubscriptionResponse":{
      "type":"structure",
      "required":[
        "arn",
        "destinationArn",
        "id",
        "resourceArn",
        "resourceId"
      ],
      "members":{
        "arn":{"shape":"AccessLogSubscriptionArn"},
        "destinationArn":{"shape":"AccessLogDestinationArn"},
        "id":{"shape":"AccessLogSubscriptionId"},
        "resourceArn":{"shape":"ResourceArn"},
        "resourceId":{"shape":"ResourceId"}
      }
    },
    "UpdateListenerRequest":{
      "type":"structure",
      "required":[
        "defaultAction",
        "listenerIdentifier",
        "serviceIdentifier"
      ],
      "members":{
        "defaultAction":{"shape":"RuleAction"},
        "listenerIdentifier":{
          "shape":"ListenerIdentifier",
          "location":"uri",
          "locationName":"listenerIdentifier"
        },
        "serviceIdentifier":{
          "shape":"ServiceIdentifier",
          "location":"uri",
          "locationName":"serviceIdentifier"
        }
      }
    },
    "UpdateListenerResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"ListenerArn"},
        "defaultAction":{"shape":"RuleAction"},
        "id":{"shape":"ListenerId"},
        "name":{"shape":"ListenerName"},
        "port":{
          "shape":"Port",
          "box":true
        },
        "protocol":{"shape":"ListenerProtocol"},
        "serviceArn":{"shape":"ServiceArn"},
        "serviceId":{"shape":"ServiceId"}
      }
    },
    "UpdateMeshRequest":{
      "type":"structure",
      "required":[
        "authType",
        "meshIdentifier"
      ],
      "members":{
        "authType":{"shape":"AuthType"},
        "meshIdentifier":{
          "shape":"MeshIdentifier",
          "location":"uri",
          "locationName":"meshIdentifier"
        }
      }
    },
    "UpdateMeshResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"MeshArn"},
        "authType":{"shape":"AuthType"},
        "id":{"shape":"MeshId"},
        "name":{"shape":"MeshName"}
      }
    },
    "UpdateMeshVpcAssociationRequest":{
      "type":"structure",
      "required":[
        "meshVpcAssociationIdentifier",
        "securityGroupIds"
      ],
      "members":{
        "meshVpcAssociationIdentifier":{
          "shape":"MeshVpcAssociationIdentifier",
          "location":"uri",
          "locationName":"meshVpcAssociationIdentifier"
        },
        "securityGroupIds":{"shape":"UpdateMeshVpcAssociationRequestSecurityGroupIdsList"}
      }
    },
    "UpdateMeshVpcAssociationRequestSecurityGroupIdsList":{
      "type":"list",
      "member":{"shape":"SecurityGroupId"},
      "max":5,
      "min":1
    },
    "UpdateMeshVpcAssociationResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"MeshVpcAssociationArn"},
        "id":{"shape":"MeshVpcAssociationId"},
        "securityGroupIds":{"shape":"SecurityGroupList"},
        "status":{"shape":"MeshVpcAssociationStatus"}
      }
    },
    "UpdateRuleRequest":{
      "type":"structure",
      "required":[
        "listenerIdentifier",
        "ruleIdentifier",
        "serviceIdentifier"
      ],
      "members":{
        "action":{"shape":"RuleAction"},
        "listenerIdentifier":{
          "shape":"ListenerIdentifier",
          "location":"uri",
          "locationName":"listenerIdentifier"
        },
        "match":{"shape":"RuleMatch"},
        "priority":{
          "shape":"RulePriority",
          "box":true
        },
        "ruleIdentifier":{
          "shape":"RuleIdentifier",
          "location":"uri",
          "locationName":"ruleIdentifier"
        },
        "serviceIdentifier":{
          "shape":"ServiceIdentifier",
          "location":"uri",
          "locationName":"serviceIdentifier"
        }
      }
    },
    "UpdateRuleResponse":{
      "type":"structure",
      "members":{
        "action":{"shape":"RuleAction"},
        "arn":{"shape":"RuleArn"},
        "id":{"shape":"RuleId"},
        "isDefault":{
          "shape":"Boolean",
          "default":false
        },
        "match":{"shape":"RuleMatch"},
        "name":{"shape":"RuleName"},
        "priority":{
          "shape":"RulePriority",
          "box":true
        }
      }
    },
    "UpdateServiceRequest":{
      "type":"structure",
      "required":["serviceIdentifier"],
      "members":{
        "authType":{"shape":"AuthType"},
        "serviceIdentifier":{
          "shape":"ServiceIdentifier",
          "location":"uri",
          "locationName":"serviceIdentifier"
        }
      }
    },
    "UpdateServiceResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"ServiceArn"},
        "authType":{"shape":"AuthType"},
        "id":{"shape":"ServiceId"},
        "name":{"shape":"ServiceName"}
      }
    },
    "UpdateTargetGroupRequest":{
      "type":"structure",
      "required":[
        "healthCheck",
        "targetGroupIdentifier"
      ],
      "members":{
        "healthCheck":{"shape":"HealthCheckConfig"},
        "targetGroupIdentifier":{
          "shape":"TargetGroupIdentifier",
          "location":"uri",
          "locationName":"targetGroupIdentifier"
        }
      }
    },
    "UpdateTargetGroupResponse":{
      "type":"structure",
      "members":{
        "arn":{"shape":"TargetGroupArn"},
        "config":{"shape":"TargetGroupConfig"},
        "id":{"shape":"TargetGroupId"},
        "name":{"shape":"TargetGroupName"},
        "status":{"shape":"TargetGroupStatus"},
        "type":{"shape":"TargetGroupType"}
      }
    },
    "ValidationException":{
      "type":"structure",
      "required":[
        "message",
        "reason"
      ],
      "members":{
        "fieldList":{"shape":"ValidationExceptionFieldList"},
        "message":{"shape":"String"},
        "reason":{"shape":"ValidationExceptionReason"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "message",
        "name"
      ],
      "members":{
        "message":{"shape":"String"},
        "name":{"shape":"String"}
      }
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"}
    },
    "ValidationExceptionReason":{
      "type":"string",
      "enum":[
        "unknownOperation",
        "cannotParse",
        "fieldValidationFailed",
        "other"
      ]
    },
    "VpcId":{
      "type":"string",
      "max":50,
      "min":5,
      "pattern":"^vpc-(([0-9a-z]{8})|([0-9a-z]{17}))$"
    },
    "WeightedTargetGroup":{
      "type":"structure",
      "required":[
        "targetGroupIdentifier",
        "weight"
      ],
      "members":{
        "targetGroupIdentifier":{"shape":"TargetGroupIdentifier"},
        "weight":{
          "shape":"TargetGroupWeight",
          "box":true
        }
      }
    },
    "WeightedTargetGroupList":{
      "type":"list",
      "member":{"shape":"WeightedTargetGroup"},
      "max":2,
      "min":1
    }
  }
}
