---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.0
  name: targetgrouppolicies.application-networking.k8s.aws
spec:
  group: application-networking.k8s.aws
  names:
    categories:
    - gateway-api
    kind: TargetGroupPolicy
    listKind: TargetGroupPolicyList
    plural: targetgrouppolicies
    shortNames:
    - tgp
    singular: targetgrouppolicy
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: TargetGroupPolicySpec defines the desired state of TargetGroupPolicy.
            properties:
              healthCheck:
                description: "The health check configuration. \n Changes to this value
                  will update VPC Lattice resource in place."
                properties:
                  enabled:
                    description: Indicates whether health checking is enabled.
                    type: boolean
                  healthyThresholdCount:
                    description: The number of consecutive successful health checks
                      required before considering an unhealthy target healthy.
                    format: int64
                    maximum: 10
                    minimum: 2
                    type: integer
                  intervalSeconds:
                    description: The approximate amount of time, in seconds, between
                      health checks of an individual target.
                    format: int64
                    maximum: 300
                    minimum: 5
                    type: integer
                  path:
                    description: The destination for health checks on the targets.
                    type: string
                  port:
                    description: The port used when performing health checks on targets.
                      If not specified, health check defaults to the port that a target
                      receives traffic on.
                    format: int64
                    maximum: 65535
                    minimum: 1
                    type: integer
                  protocol:
                    description: The protocol used when performing health checks on
                      targets.
                    enum:
                    - HTTP
                    - HTTPS
                    type: string
                  protocolVersion:
                    description: The protocol version used when performing health
                      checks on targets.
                    enum:
                    - HTTP1
                    - HTTP2
                    type: string
                  statusMatch:
                    description: A regular expression to match HTTP status codes when
                      checking for successful response from a target.
                    type: string
                  timeoutSeconds:
                    description: The amount of time, in seconds, to wait before reporting
                      a target as unhealthy.
                    format: int64
                    maximum: 120
                    minimum: 1
                    type: integer
                  unhealthyThresholdCount:
                    description: The number of consecutive failed health checks required
                      before considering a target unhealthy.
                    format: int64
                    maximum: 10
                    minimum: 2
                    type: integer
                type: object
              protocol:
                description: "The protocol to use for routing traffic to the targets.
                  Supported values are HTTP (default), HTTPS and TCP. \n Changes to
                  this value results in a replacement of VPC Lattice target group."
                type: string
              protocolVersion:
                description: "The protocol version to use. Supported values are HTTP1
                  (default) and HTTP2. When a policy Protocol is TCP, you should not
                  set this field. Otherwise, the whole TargetGroupPolicy will not
                  take effect. When a policy is behind GRPCRoute, this field value
                  will be ignored as GRPC is only supported through HTTP/2. \n Changes
                  to this value results in a replacement of VPC Lattice target group."
                type: string
              targetRef:
                description: "TargetRef points to the kubernetes Service resource
                  that will have this policy attached. \n This field is following
                  the guidelines of Kubernetes Gateway API policy attachment."
                properties:
                  group:
                    description: Group is the group of the target resource.
                    maxLength: 253
                    pattern: ^$|^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                    type: string
                  kind:
                    description: Kind is kind of the target resource.
                    maxLength: 63
                    minLength: 1
                    pattern: ^[a-zA-Z]([-a-zA-Z0-9]*[a-zA-Z0-9])?$
                    type: string
                  name:
                    description: Name is the name of the target resource.
                    maxLength: 253
                    minLength: 1
                    type: string
                  namespace:
                    description: Namespace is the namespace of the referent. When
                      unspecified, the local namespace is inferred. Even when policy
                      targets a resource in a different namespace, it MUST only apply
                      to traffic originating from the same namespace as the policy.
                    maxLength: 63
                    minLength: 1
                    pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                    type: string
                required:
                - group
                - kind
                - name
                type: object
            required:
            - targetRef
            type: object
          status:
            default:
              conditions:
              - lastTransitionTime: "1970-01-01T00:00:00Z"
                message: Waiting for controller
                reason: NotReconciled
                status: Unknown
                type: Accepted
            description: Status defines the current state of TargetGroupPolicy.
            properties:
              conditions:
                default:
                - lastTransitionTime: "1970-01-01T00:00:00Z"
                  message: Waiting for controller
                  reason: Pending
                  status: Unknown
                  type: Accepted
                - lastTransitionTime: "1970-01-01T00:00:00Z"
                  message: Waiting for controller
                  reason: Pending
                  status: Unknown
                  type: Programmed
                description: "Conditions describe the current conditions of the TargetGroup.
                  \n Implementations should prefer to express Policy conditions using
                  the `PolicyConditionType` and `PolicyConditionReason` constants
                  so that operators and tools can converge on a common vocabulary
                  to describe TargetGroup state. \n Known condition types are: \n
                  * \"Accepted\" * \"Ready\""
                items:
                  description: "Condition contains details for one aspect of the current
                    state of this API Resource. --- This struct is intended for direct
                    use as an array at the field path .status.conditions.  For example,
                    \n type FooStatus struct{ // Represents the observations of a
                    foo's current state. // Known .status.conditions.type are: \"Available\",
                    \"Progressing\", and \"Degraded\" // +patchMergeKey=type // +patchStrategy=merge
                    // +listType=map // +listMapKey=type Conditions []metav1.Condition
                    `json:\"conditions,omitempty\" patchStrategy:\"merge\" patchMergeKey:\"type\"
                    protobuf:\"bytes,1,rep,name=conditions\"` \n // other fields }"
                  properties:
                    lastTransitionTime:
                      description: lastTransitionTime is the last time the condition
                        transitioned from one status to another. This should be when
                        the underlying condition changed.  If that is not known, then
                        using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: message is a human readable message indicating
                        details about the transition. This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: observedGeneration represents the .metadata.generation
                        that the condition was set based upon. For instance, if .metadata.generation
                        is currently 12, but the .status.conditions[x].observedGeneration
                        is 9, the condition is out of date with respect to the current
                        state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: reason contains a programmatic identifier indicating
                        the reason for the condition's last transition. Producers
                        of specific condition types may define expected values and
                        meanings for this field, and whether the values are considered
                        a guaranteed API. The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                        --- Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important. The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                maxItems: 8
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
